In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [ ]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "c267c30b-4607-403d-9dd8-7148f4f8883b",
"fs.azure.account.oauth2.client.secret": 'bmU8Q~W-QHSmbAOlz3fvFGjNImjDfQq1xgX5yam-',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/ddd2932f-713d-457d-acb1-1b69278596d4/oauth2/token"}


dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokyoolympicdatasnug.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolymic",
extra_configs = configs)

In [ ]:
%fs
ls "/mnt/tokyoolymic"

In [ ]:
spark

In [ ]:
athletes = spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/entriesgender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/teams.csv")

In [ ]:
athletes.show()
athletes.printSchema()

In [ ]:
coaches.show()
coaches.printSchema()

In [ ]:
entriesgender.show()
entriesgender.printSchema()

In [ ]:
entriesgender = entriesgender.withColumn("Female",col("Female").cast(IntegerType())) \
    .withColumn("Male",col("Male").cast(IntegerType()))\
    .withColumn("Total",col("Total").cast(IntegerType()))

In [ ]:
medals.show()
medals.printSchema()

In [ ]:
teams.show()
teams.printSchema()

In [ ]:
# Find the top countries with the highest number of gold medals

top_gold_medal_countries = medals.orderBy("Gold", ascending= False).show()

In [ ]:
top_gold_medal_countries = medals.orderBy("Gold", ascending= False).select("Team_Country","Gold").show()

In [ ]:
# Calculate the average number of entries by gender for each discipline
average_entries_by_gender = entriesgender.withColumn(
    'Avg_Female', entriesgender['Female'] / entriesgender['Total']
).withColumn(
    'Avg_Male', entriesgender['Male'] / entriesgender['Total']
)
average_entries_by_gender.show()

In [ ]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').parquet("/mnt/tokyoolymic/transformed-data/athletes")
coaches.repartition(1).write.mode("overwrite").option("header","true").parquet("/mnt/tokyoolymic/transformed-data/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header","true").parquet("/mnt/tokyoolymic/transformed-data/entriesgender")
medals.repartition(1).write.mode("overwrite").option("header","true").parquet("/mnt/tokyoolymic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header","true").parquet("/mnt/tokyoolymic/transformed-data/teams")